<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>maven-pub</id>
            <name>maven-pub</name>
            <url>http://192.168.230.20:8081/repository/maven-pub/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>maven-pub</id>
            <username>user-nx</username>
            <password>usernx123</password>
        </server>
    </servers>

</settings>
